
<ul class="list-menu">


  </div>
  <div class="right-content">
    <li>
    <a href="#">
    <p class="username">Username:<%= upload_file.user_id %></p>

    </a><br>

    <a href="#">Title:
    <%= upload_file.title %>
    </a>

    <ul>
    <audio controls src= <%= upload_file.file %>>
    </audio>

    </ul>
    </li>
</ul>
<ul>
コメント
    </ul>