



<iframe width="853" height="480" src="https://www.youtube.com/embed/#{music.uid}" "allowfullscreen></iframe>









<% UploadFile.all.reverse_order.each do |upload_file| %>
<ul class="list-menu">


  </div>
  <div class="right-content">
    <li>
    <p class="username">Username:<%= upload_file.user_id %></p>
    <a href="#">Title:
      <%= upload_file.title %></a><br>
    <a href="#">
<%= upload_file.songtitle %>の他のアレンジを聞く
    </a><br>
    <a href="/uploader/#/comments/index">コメント一覧</a>
    </a>

    <ul>
    <audio controls src= <%= upload_file.file %>>
    </audio>

    </ul>
    </li>



  </div>
<% end %>
