
a:link {text-decoration:none }
a:visited {text-decoration:none }

#submit_button {
  text-align: center;
}

.input {
  text-align: center;
}


body {
  font-size: 14px;
  color: #333;
  margin: 0 0 60px 0;
  padding: 0;
  background-image: url("body.jpg");
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: #000055;
  height: 100px;
  padding: 0;
}

.title {
  font-family: cursive;
  color: #6495ED;
  display: inline;
  position: absolute;
  font-size: 60px;
}


/* --- テキストボックス --- */
input.textbox {
width: 500px; /* テキストボックスの幅 */
height: 80px;
margin: 0 auto; /* テキストボックスのマージン（上右下左） */
padding: 0;
background-color: #ffffff; /* テキストボックスの背景色 */
border: none; /* テキストボックスの境界線（なし） */
color: #000000;
font-size: 50px;
}

button.btn {
  width: 120px;
  height: 80px;
  padding: 0;
  margin-top: -24px;
  background-color: yellow;
}

.registervideo {
  width: 500px;
  height: 90px;
  padding: 0;
  margin-top: -24px;
  background-color: yellow;
  font-size: 35px;
}

input.btn2 {
width: 8em;
height: 1.8em;
padding: 0;
background: #008000 url(btn02.gif);
border: 1px #008000 inset;
font-weight: bold;
color: #ffffff;
letter-spacing: 0.3em;
position: absolute;

}

.top-content ul{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: -6px;
  padding-bottom: 0;


}

.middle-content ul{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: -6px;
  padding-bottom: 0;
}

.bottom-content ul{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: -6px;
  padding-bottom: 0;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.clearfix {
  clear: both;
  display: block;
  content: "";
}
.pr-sentence1 {
  position:absolute;
  top: 50%;
  left:50%;
  width: 460px;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #191970,
  -1px 1px 1px #191970,
  1px -1px 1px #191970,
  -1px -1px 1px #191970;
  font-size: 30px;
}

.pr-sentence2 {
  position:absolute;
  bottom:50%;
  right:50%;
  width: 450px;
  font-family: sans-serif;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px #191970,
  -1px 1px 1px #191970,
  1px -1px 1px #191970,
  -1px -1px 1px #191970;
  font-size: 30px;
}
.pr-sentence3 {
  position:absolute;
  top:50%;
  left: 50%;
  width: 450px;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 2px 0 #755d41,0 2px 1px rgba(0,0,0,0.8);
  font-size: 30px;
}


.mypage {
  font-family: cursive;
  color: #FFC0CB;
  display: inline;
  position: absolute;
  left: 150px;
  top: 8px;
}

.user {
  text-align: center;
  font-size: 12px;
}

.userupload {
  top: 903px;
  color:white;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  margin-bottom: -18px;
}

.userprofile {
  height: 650px;
}

.upload-new {
  background: radial-gradient(#ADD8E6, #6495ED);
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
  border-style: solid ;
  border-width: 2px;
  padding: 10px 5px 10px 5px;
  width: 100%;
/*  border-color: #006699;
  background-color: #006699;
  border-radius: 10px;*/
  height: 50px;
  margin-bottom: 0;
  padding: 0;
}

.music_title1 {
  position:relative;
  top: 5px;
  left: 20px;
  right: 40px;
  width: 80%;
  font-family: sans-serif;
  color: black;
  padding-right: 40px;
  float: left;
}

ul {
  padding-left: 0;
  margin: 0;
}
/*
.relative {
    position: relative;
    width: 550px;
}*/
.relative {
    position: relative;
    float: right;

}

.container_demo {
  margin-top: 200px;
  text-align: center;
  font-size: 50px;
}

.button {
  top: 10px;
  right: 50px;
  width: 80px;
  height: 30px;
}

.uploadcontents {
    position: fixed;
    left: 0px;
    bottom: 4%;
    right: 0;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
  }
}

.upload {
  position: relative;
  overflow: hidden;
  height: 18px;
  width: 24px;
}

.upload_form {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
  filter: alpha(opacity = 0);
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}


.sign-up {
  position: relative;
  margin: 50px auto;
  width: 280px;
  padding: 33px 25px 29px;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}



.upload-yours {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  border-style: solid ;
  border-width: 2px;
  padding-top: 20px;
  width: 250px;
  border-color: #006699;
  background-color: #FF97C2;
  height: 75px;
  margin-bottom: 0;
  margin-right: 10px;
  padding: 0;
  float: right;

}

.video {
position: relative;
height: 0;
padding: 30px 0 56.25%;
overflow: hidden;

}

.video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



li {
/*  padding: .6em 1em;
  background: #6927FF;
  border-top: 1px solid #888;
  border-right: 10px solid black;
  border-bottom: 5px solid black;
  border-left: 30px double black;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  font-size: 1.25em;*/
    padding: 20px;
    background: #fff;
    border: 10px #FF6928 solid;
    position: relative;
    z-index: 10;
}

li:before {
    content: "";
    position: absolute;
    background: #fff;
    margin: 10px;
    border: 10px #FF773E solid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -10;
}


div.comments-title {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 16px;
}

hr {
  width: 95%;
  margin-top: 0px;
}

p.username {
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;

}



.comments-content {
  padding-left: 0px;
  padding-bottom: 0px;
}

p.details {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
}

p.comments {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  font-size: 40px;
}

.list-comments {
  list-style: none;
  display: block;
  content: "";
  position: absolute;
  left: 13.75px;
  width: 95%;
  height: 600px;
  font-family: monospace;
  font-size: 30px;
  overflow: auto;
  margin-bottom: 100px;
}

.list-videos {
  list-style: none;
  display: block;
  content: "";
  position: absolute;
  left: 13.75px;
  width: 95%;
  height: 800px;
  font-family: monospace;
  font-size: 30px;
  overflow: auto;
  margin-bottom: 100px;
}

.mypage-list {
  list-style: none;
  display: block;
  content: "";
  position: relative;
  font-family: monospace;
  bottom: 100px;
  top: 20px;
}


.image-center {
  text-align: center;
}

.left-content {
/*  float: left;*/
  width: 20%;
}

.right-content {
/*  float: right;*/
  width: 100%;
  text-align: center;
  /*margin-bottom: 60px;*/
}

.row {
  font-size: 40px;
  color: white;
  text-align: center;
}

.edit {
  font-size: 12px;

}
.delete {
  font-size: 12px;
}

.tab_contents {
  font-family: cursive;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 100px;
}

.tab1-1 {
  text-align: center;
  width: 50%;
  float: left;
  height: 100px;


  background: radial-gradient(#6495ED, #000055);
}

.tab2-1 {
  text-align: center;
  width: 50%;
  float: right;
  height: 100px;
  background-color: #000055;

}

.tab1-2{
  text-align: center;
  width: 50%;
  float: left;
  height: 100px;
  background-color: #000055
}

.tab2-2 {
  text-align: center;
  width: 50%;
  float: right;
  height: 100px;
  background: radial-gradient(#6495ED, #000055);

}


.tab1-2 a, .tab1-2 a:visited,.tab2-1 a, .tab2-1 a:visited{
  color: #6495ED;
}

.tab1-1 a, .tab1-1 a:visited,.tab2-2 a, .tab2-2 a:visited{
  color: white;
}



.tab_contents {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
}



.tabmenu {
  font-size: 60px;
}

.picture{
  height:500px;
  width: 500px;
  background-size: cover;
  margin: 0 auto;
  border: 10px dashed rgba(255,255,255,0.8);

}

.entry_button {
  color: white;
  font-size: 30px;
  display: inline;
  position: absolute;
  top: 25px;
}

.entry_button a:visited {
  color: white;
}

.btn {
  width: 30px;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
}

.insert_youtube {
  text-align: center;
  height: 500px;
}

audio {
  width: 100%;
  display: block;
  margin:0px;
}

.new {
  border-style: solid ;
  border-width: 1px;
  padding: 10px 5px 10px 20px;
  border-color: blue;
  color: #FFF;
  background-color: #FF6928;
  width: 500px;
  height: 80px;
  font-size: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #AAA;
  position: relative;
  margin: 10px auto;
  text-align: center;
}

li .videoresult {
  width: 80%;
  height: 200px;
  background: linear-gradient(#fff, #F8F8FF);
  font-size: 50px;
  font-family: cursive;
  list-style: none;
}

.upload-form {
  position: fixed;
  bottom: 0;
}


.searchbox {
  position: relative;
  height: 653px;
  width: 100%;
  background-image: url("/assets/listen.jpg");
}

.uploadbox {
  height: 653px;
  background-image: url("playtheguitar.jpg");
  background-size: contain;
}

.search__query {
  border:none;
  height: 80px;
  width: 780px;
  font-size: 45px;
}

.searchcenter {
  text-align: center;
}

button.btn-search {
  height: 100px;
  width: 100px;
  padding: 0px;
  background-image: url("search2.png");
  background-size: 100px;
}

button.btn-search2 {
  height: 100px;
  width: 100px;
  padding: 0px;
  background-image: url("search.png");
  background-size: 100px;
}

.commentsfield {
  height: 150px;
  width: 70%;
  font-size: 40px;
}

.list-menu {
  list-style: none;
  display: block;
  content: "";
  position: relative;
  width: 100%;
  font-family: monospace;
  top: 0px;
}

.searchsentence {
  padding-top: 100px;
  text-align: center;
  font-size: 70px;
  color: white;
  color: lighten(white, 10%);
  text-shadow: 0 0 1em rgba(0,0,0,0.9);

}

.searchsentence2 {
  padding-top: 100px;
  text-align: center;
  font-size: 70px;
  color: white;
  color: lighten(white, 10%);
  text-shadow: 0 0 1em rgba(0,0,0,0.9);

}

.login {
  font-size: 70px;
  height: 800px;
}

.col-xs-6 {
  height: 30px;
  width: 30px;
}

.submit {
  height: 70px;
  width: 150px;
  font-size: 50px;
}

.signup {
  font-size: 30px;
  color: white;
}
.change_link {
  font-size: 30px;
  color: black;
}
.actions {
  height: 80px;
  width: 220px;
  margin: 0, auto;
  font-size: 35px;
}

li.commentlist {
  margin-bottom: 10px;
  background: linear-gradient(#fff, #F8F8FF);
  font-family: cursive;
  color: black;
  list-style: none;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.nicknamefield {
  height: 50px;
  width: 180px;
  font-size: 30px;
}

.ratefield {
  height: 50px;
  width: 65px;
  font-size: 30px;
}
.blank {
  margin-bottom: 120px;
  position: relative;
}

.uploadbutton {
  height: 60px;
  width: 120px;
  font-size: 30px;
  background-color: #000055;
  color: white;
  margin: 10px;
}
.list-music {
  list-style: none;
  display: block;
  content: "";
  position: absolute;
  left: 13.75px;
  width: 95%;
  height: 800px;
  font-family: monospace;
  font-size: 30px;
  overflow: auto;
  margin-bottom: 100px;
}

.whitefont {
  color: white;
}

.titlesearch {
  font-size: 50px;
  padding: 0px;
}


.uploadcontents2 {
    position: fixed;
    left: 0px;
    bottom: 4%;
    right: 0;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
  }
}

.filefield {
  font-size: 30px;
  background-color: pink;
}

.titlefield {
  height: 50px;
  width: 400px;
  font-size: 30px;
  margin-bottom: 10px;
}
.uploadfont {
  color: white;
  font-size: 30px;
}
.newfont {
  font-size: 40px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}


.newfont2 {
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


.search {
  margin: 0 auto;
}

.urlfield {
  width: 410px;
  font-size: 20px;
}
.checkbox {
  height: 50px;
  width: 50px;
}


.contents {
  top: 20%;
}

a.playbutton {
  font-size: 40px;
  color: white;
}

.play {
  height: 80px;
  width: 250px;
  border-color: #006699;
  background-color: #FF97C2;
  margin-bottom:10px;
}
